// Fonts
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


#hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-size: cover;
}

.container_hero{
    padding: 0 10rem
}

.title_hero{
    font-weight: 700;
}

.bg-success {
    background-color: $secondary-color !important;
}

.btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color;
}

blockquote {
    font-size: 1.25rem;
}


#field_section{
    background-color: $bg-color;
    min-height: 130vh;
}

.card{
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1); 
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}


@media (max-width: 768px) {
    .container_hero {
        padding: 0 2rem; // Adjusted padding for smaller screens
    }

    .title_hero {
        font-size: 2rem; // Decrease font size for smaller screens
    }

    .lead {
        font-size: 1rem; // Decrease font size for smaller screens
    }
}