@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

    body {
        background: #f8f9fa;
        font-family: 'Roboto', sans-serif;
    }

    .custom-card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
        border-radius: 10px 10px 0 0;
        padding: 10px 0;
    }

    .form-label {
        font-size: 18px;
        font-weight: 500;
        color: #2d3436;
    }

    .time-slot {
        font-size: 18px;
        font-weight: 500;
        color: #2d3436;
        background-color: #ffffff;
        transition: all 0.3s ease;
    }


    .price-text {
        font-size: 18px;
        font-weight: 500;
        color: #2d3436;
    }

    .btn-success {
        font-size: 18px;
        font-weight: 700;
        background-color: #00b894;
        border: none;
    }

    .btn-success:hover, .btn-success:focus {
        background-color: #019875;
    }