:root {
    --primary-color: #006769;
    --secondary-color: #0D9276;
    --tertiary-color: #e6ff94;
    --bg-color: #f2f2f6;
    --grey: #666288;
    --black: #000;
}

body {
    background-color: #f2f2f6;
}

#checkout-page {
    margin: 6rem;
    margin-top: 10rem;
    /* background-color: #007bff; */
}

.container {
    margin-top: 20px;
}

.btn-previous {
    background-color: var(--primary-color);
    color: #fff;
    transition: background-color 0.3s, color 0.3s, outline 0.3s;
}

.btn-previous:hover {
    background-color: #fff; 
    color: var(--primary-color);
    outline: 2px solid var(--primary-color); 
    outline-offset: -2px; 
}


/* Card Styling */
.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Payment Details Styling */
#payment-details .card {
    margin-bottom: 20px;
}

#payment-details .card-header {
    background-color: #343a40;
    color: white;
}

#payment-details .card-body p {
    margin: 0;
}

/* Summary Card Styling */
#summary-details {
    padding: 20px;
}

.divider-dash {
    border-top: 2px dashed #999;
}

/* Checkout Button */
.checkout-button {
    text-align: center;
}

.checkout-button .btn {
    background-color: #28a745;
    color: white;
    font-size: 18px;
}

/* Payment Option Styling */
.payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.payment-option.selected {
    background-color: #d1e7dd;
    border-color: #0f5132;
    cursor: pointer;
}


.payment-option label {
    margin-left: 10px;
    flex-grow: 1;
    cursor: pointer;
}

.payment-option .btn-danger {
    margin-left: 10px;
}

/* Add Payment Method */
.add-payment {
    color: #007bff;
    cursor: pointer;
}

.add-payment:hover {
    text-decoration: none;
}

/* Modal Styling */
.modal-header {
    background-color: #28a745;
    color: white;
}

.modal-header .close {
    color: white;
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 20px;
}

.form-check-label {
    margin-left: 5px;
}

#phoneNumberInput input {
    width: 100%;
}

#confirmPaymentMethod {
    background-color: #007bff;
    color: white;
}

/* Total Amount Styling */
#total-details {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}


.save-button {
    background-color: #28a745;
    color: white;
    font-size: 18px;
}
.pay-button {
    background-color: #28a745;
    color: white;
    font-size: 18px;
    margin: 20px;
}

.payment-logo {
    width: 30px; /* Atur lebar gambar sesuai kebutuhan */
    height: auto; /* Biarkan tinggi gambar menyesuaikan proporsi aslinya */
    margin-right: 10px; /* Atur margin kanan sesuai kebutuhan */
}