


.card {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.form-group {
    margin-bottom: 20px; /* Atur jarak antar elemen */
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.vh-100 {
    height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1 1 auto;
}

.text-right {
    text-align: right;
}

.profile-card {
    background: linear-gradient(135deg, #79f579, #073507); /* Gradient dari hijau tua ke hijau lebih gelap */
    border-radius: 20px;
    max-width: 300px; 
    margin-right: 200px;
    color: #ffffff; /* Teks tetap putih untuk kontras dengan latar hijau */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.profile-image {
    width: 120px;
    height: 120px;
    border: 3px solid #ffffff; /* Ubah warna border menjadi putih */
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    transition: border-color 0.3s, transform 0.3s;
}

.edit-profile-card {
    background: #ffffff;
    border-radius: 10px;
    min-width: 800px; 
    min-height: 450px;
    margin-right: 300px;
}


.btn-primary, .btn-secondary, .btn-danger {
    min-width: 100px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
    transform: translateY(-3px);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.card-body {
    padding: 20px; /* Tambahkan padding untuk spacing di dalam card */
}

.edit-icon {
    position: absolute;
    right: 5px; /* Jarak dari kanan */
    top: 40%; /* Posisi di tengah vertikal */
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff; /* Warna ikon edit */
    background-color: transparent; /* Atur background menjadi transparan */
    border: none; /* Hapus border jika ada */
}

.edit-icon:hover {
    color: #0056b3; /* Warna saat ikon edit dihover */
}