.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid black;
    transition: opacity 0.3s;
    position: relative;
}

.profile-container label {
    position: relative;
    display: inline-block;
}

.profile-container label:hover .change-image-text {
    opacity: 1;
}

.profile-card {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container {
    text-align: center;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.file-input {
    display: none;
}

.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.edit-profile-title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.profile-card-background {
    background-color: #DCDCDC;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-icon {
    position: absolute;
    right: 10px; /* Jarak dari kanan */
    top: 50%; /* Posisi di tengah vertikal */
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff; /* Warna ikon edit */
    background-color: transparent; /* Atur background menjadi transparan */
    border: none; /* Hapus border jika ada */
}

.edit-icon:hover {
    color: #0056b3; /* Warna saat ikon edit dihover */
}
